.cont {
  background: url("https://i.imgur.com/Q4fbMVy.jpg");
  background-size: cover;
  height: 100%;
  background-position: center;
  background-repeat: no-repeat;
  overflow: auto;
  color: #30334a;
  letter-spacing: 0.8ch;
}
.cont:hover {
  background: #d0f1ed;
}
body {
  background-color: #99e1d9;
}
.rows {
  font-size: xx-large;
  color: #99e1d9;
  background-color: black;
}
.body {
  font-size: x-large;
  color: #c1c4d7;
}
nav {
  background: linear-gradient(black, #484d70);
}
a {
  padding: 2%;
}
