.nav a {
  text-decoration: none;
  color: #d5573b;
  font-size: xx-large;
}
nav {
  padding: 2%;
  align-content: center;
}
nav a:hover {
  color: #744446;
  background: linear-gradient(#206f67, #81dad0);
  height: 1.3vh;
}
span:hover {
  background: linear-gradient(#206f67, #81dad0);
  height: 1.3vh;
}
td {
  border: 0.3rem solid black;
}
