p {
  color: #c99da3;
  font-size: 3rem;
}
.landing {
  background-color: #36382e;
  height: 0vh;
  padding: 11%;
}
h1 {
  font-size: 5rem;
  color: #99e1d9;
  margin-bottom: 15%;
}
p {
  font-size: 3rem;
}
