p {
  color: #c99da3;
  font-size: 3rem;
}
.landing {
  background-color: #535840;
  border-radius: 80%;
  height: 10vh;
  padding: 11%;
}
.landing h1 {
  font-size: 5rem;
  color: #99e1d9;
  margin-bottom: 15%;
  letter-spacing: 0.6ch;
}
h1:hover {
  transform: scale(1.14);
  transition-delay: 200ms;
}
p {
  font-size: 4rem;
  letter-spacing: 0.3ch;
}
.cont1 {
  background: linear-gradient(#744446, #254441);
  border-radius: 50%;
}
.landingP {
  background: linear-gradient(black, #254441);
  border-radius: 90%;
}
.forThose {
  background: linear-gradient(#744446, #254441);
  border-radius: 10%;
}
p {
  border: 0.01px dotted #99e1d9;
}
.emoji {
  background: linear-gradient(black, green);
  font-size: xx-large;
  padding: 1%;
  border-radius: 100%;
}
.hover {
  background: linear-gradient(black, grey);
  width: 70vw;
}
